# Database
DB_HOST=
DB_PORT=5432
DB_USERNAME=
DB_PASSWORD=

# Authentication DB
AUTH_DB_NAME=icefrost-auth

# Game Service DB
GAME_DB_NAME=icefrost-game

# Player Service DB
PLAYER_DB_NAME=icefrost-player

# JWT
JWT_KEY=
JWT_ISSUER=
